/* page */
body {
    background-color: transparent;
    font-family: Arial, sans-serif;
    margin: 0;
}
/* box */
.login-box {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/Nuist.jpg");
    display: flex;
    align-items: center;
}
.login-form{
    background-color: white;
    padding: 25px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 350px;
    max-height: 700px;
}
/* title */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}
/* input */
.input-item {
    margin-bottom: 18px;
}
/* label */
label {
    display: block;
    margin-bottom: 6px;
    color: #666;
}
/* type in */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.identity {
    margin: 18px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.identity input {
    margin-right: 5px;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #496bdc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: #1a46d5;
}