/* background whole CSS*/
body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container .main-title{
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    background-color: #3498db;
}
.main-container a{
    background-color: #496bdc;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid #0066cc;
    margin-bottom: 30px;
    background-color: #3498db;
}
.system-title {
    font-size: 24px;
    color: #f8f8fa;
    margin: 0;
}

/*user information right order*/
.user-info {
    text-align: right;
}
.func-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.func-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
    margin: 5px;
}
.func-card:hover {
    transform: translateY(-5px);
}

/*img of the page*/
.func-icon {
    font-size: 40px;
    margin-bottom: 15px;
}
.func-title {
    font-size: 18px;
    margin-bottom: 10px;
}

/*description of the page*/
.func-desc {
    color: #666;
    font-size: 14px;
    margin-bottom: 15px;
}

/*Enter's CSS*/
.func-link {
    display: inline-block;
    padding: 8px 16px;
    background: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}
.func-link:hover {
    background: #0052a3;
}

/*personal information field*/
.personal-section {
    background: #c0cee4;
    border-radius: 0 0 8px 8px;
    padding: 20px;
    margin-bottom: 30px;
}
.section-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #b8b6b6;
}
