body {
    font-family: "Arial", sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #f8f9fa;
}
.nav-tabs{
    margin: 10px;
}
.nav-tabs a{
    border: 1px solid #0e0e0e;
    border-bottom: none;
    padding: 10px 70px;
    border-radius: 8px 8px 0 0;
}
.nav-tabs a:hover{
    background-color: #3498db;
}

.question-item {
    margin: 20px 0;
    padding: 15px;
    background-color: #f5f7fa;
    border-left: 4px solid #3498db;
    border-radius: 4px;
}
.option-group {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.bth-back{
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.btn-submit {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
.bth-back:hover{
    background-color: #067bef;
}
.btn-submit:hover {
    background-color: #067bef;
}
.tips {
    background-color: #cce0ef;
    color: #423f3f;
    font-size: 14px;
    margin-top: 15px;
    line-height: 1.6;
}