div{
    margin: 15px auto;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #000000;
}
input[type="text"],
input[type="country"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
.input-form{
    background-color: #e4f2f3;
    padding: 25px;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 650px;
    max-height: 700px;
}
h2{
    margin: 0;
}
.login-btn{
    padding: 5px 10px;
    margin: 5px;
    background-color: #8cb9e8;
    border: none;
    border-radius: 4px;
}
fieldset{
    background-color: #ffffff;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
