body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

/*Headings*/
h1{
    font-size: 2.5em;
    color: #004080;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 2px solid #1845d6;
}

h2 {
    font-size: 2em;
    color: #0055aa;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin: 10px;
}

h3 {
    font-size: 1.5em;
    color: #003366;
    font-weight: bold;
}

/* Paragraphs and links */
p {
    margin-bottom: 15px;
}

.bth-back{
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0 0 5px;
}

.nav-tabs{
    margin-top: 30px;
}

div a {
    border-radius: 8px 8px 0 0;
    padding: 10px 263px;
    margin: 20px 20px;
    background-color: #fdfeff;
    color: #131313;
    text-decoration: none;
    border: 1px solid #0e0e0e;
    border-bottom: none;
}

a:hover {
    background-color: #d7d9dc;
    text-decoration: underline;
}


fieldset{
    border-top: 4px solid #496bdc;
    margin: 20px;
    border-radius: 8px;
}

table{
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    color: #353434;
}

select {
    font-family: inherit;
    font-size: 1em;
    padding: 8px;
    margin: 5px 0 10px 0;
    border: 1px solid #999;
    width: 30%;
    box-sizing: border-box;
}

#appoint{
    margin: 20px 0 10px;
}
